styles.css body {
    background-color: #8cb6b6
}

hr {
    background-color: rgb(235, 219, 219);
    border-style: none;
    border-top-style: dotted;
    border-color: dimgray;
    border-width: 5px;
    width: 5%;
}

img {
    height: 250px;
}

h1 {
    color: #66BFBF;
}

h3 {
    color: #66BFBF;
}